@use "./breakpoints";

.main-tray-title {
  grid-area: title;
  font-size:x-large;
}

@media (max-width: breakpoints.$side-by-side) {
  .main-tray-title {
    font-size: 2rem;
    font-weight: bold;
  }
}