.categories {
  display: grid;
  height: 100%;
  width: 100%;
  user-select: none;
  grid-template-rows: max-content minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  background-color: #fff;
}

.theme {
  background-color: #8e2727;
}
