.main-tray {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
  grid-template-rows: max-content minmax(0, 1fr);
  padding-top: 1rem;
  padding-left: 0.75rem;
  height: 100%;
  width: 100%;
  grid-template-areas: "sidebar title" "sidebar window1" "sidebar window2";
  transition: background-color 0.35s ease-in;
  z-index: 5;
  position: relative;
}

:global(.mobile).main-tray {
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "title" "window1" "window2";
}
