.side-bar {
  grid-area: sidebar;
  /* background-color: white; */
}

:global(.mobile).side-bar {
  position: absolute;
  z-index: 8;
  height: 100%;
  width: auto;
  overflow: hidden;
  /* display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  grid-template-rows: minmax(0, 1fr); */
  /* align-items: start; */
  /* background-color: #8e2727; */
  padding: 1rem 1rem 1rem 0;
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem; */
  border: thin black solid;
}
