.icon {
  color: rgb(172, 172, 172);
  font-size: 0.7rem;
}

.icon:global(.active) {
  color: rgb(16, 108, 255);
}

.icon:hover {
  color: rgb(172, 172, 172);
}

.icon:global(.active):hover {
  color: rgb(16, 108, 255);
}

.icon i {
  font-size: 1.7rem;
}
