<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ env('APP_NAME') }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
<meta name="csrf-token" content="{{ csrfToken }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <main class="funding-plans">
        @include('menubar')
        <button type="button" id="newFundingPlan">New Funding Plan</button>
        <div id='planList'></div>
    </main>
    
    <!-- Modal -->
    <div class="modal fade" id="fundCatsDialog" role="dialog">
        <div class="modal-dialog modal-dialog-scrollabl modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fund Categories</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id='fundCatsForm'>
                            <div class='funding-header'>
                                <div>
                                    <label>Name</label>
                                    <input type="text" name="name"/>
                                </div>
                                <div>
                                    <label>Total</label>
                                    <div class='funding-total dollar-amount'>0.00</div>
                                </div>
                            </div>
                            <div class='cat-fund-table'>
                                <div class='cat-fund-item cat-fund-title'>
                                    <div>Group<i class='fas fa-plus add-group'></i></div>
                                    <div>Category</div>
                                    <div class='dollar-amount'>Amount</div>
                                </div>
                                <div class='cat-fund-items'></div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="submit" form='fundCatsForm' class="btn btn-default">Save</button>
                </div>
            </div>

        </div>
    </div> <!--  Modal -->

    <script>
    
    "use strict";
    
    function openAddPlanDialog (plan) {

        $("#fundCatsDialog").modal ('show');
        
        let planId = null;
        
        if (plan !== undefined) {
            $("#fundCatsForm [name='name']").val(plan.name);
            createCategoryFundingList (plan);
            planId = plan.id;
        }

        $("#fundCatsForm").off('submit');
        $("#fundCatsForm").submit(function (event) {
            event.preventDefault();

            // Get the name
            let planName = $("#fundCatsForm [name='name']").val ();

            // Get the categories
            
            let cats = $("#fundCatsForm .cat-fund-items :input");

            let plan = { id: planId, name: planName, categories: [] };
            
            for (let cat of cats) {
                
                let initValue = parseFloat($(cat).attr('data-init-value'));
                let amount = parseFloat($(cat).val ());
                
                let delta = amount - initValue;
                
                if (delta !== 0) {
                    let id = parseInt($(cat).attr('data-id'));
                    let categoryId = parseInt($(cat).attr('data-cat-id'));
                    plan.categories.push({ id: id, categoryId: categoryId, amount: amount });
                }
            }
            
            if (plan.categories.length > 0) {
                if (plan.id) {
                    $.ajax({
                        url: "/funding_plan/" + plan.id,
                        contentType: "application/json",
                        method: 'PATCH',
                        data: JSON.stringify(plan),
                    })
                    .done (function(response)
                    {
//                            updateCategories (response);

                        $("#fundCatsDialog").modal ('hide');
                    });
                }
                else {
                    $.post({
                        url: "/funding_plan",
                        contentType: "application/json",
                        data: JSON.stringify(plan),
                    })
                    .done (function(response)
                    {
                        console.log(JSON.stringify(response));
                        
                        $("<div></div>")
                            .text (response.name)
                            .appendTo ("#planList");

                        $("#fundCatsDialog").modal ('hide');
                    });
                }
            }
            else {
                $("#fundCatsDialog").modal ('hide');
            }
        });
    }
    
    function loadPlans ()
    {
        $.getJSON({
            url: "/funding_plans"
        })
        .done (function (response) {

            for (let plan of response) {
                
                let p = $("<div></div>")
                    .addClass('plan-item')
                
                $("<div></div>")
                    .text (plan.name)
                    .appendTo (p);
                
                $("<div class='btn btn-sm group-button'><i class='fas fa-edit'></i></div>")
                    .on('click', function () {
                            $.getJSON ({
                                url: "/funding_plan/" + plan.id
                            })
                            .done (function (response) {
                                openAddPlanDialog (response);
                            });
                        })
                    .appendTo(p);
                
                p.appendTo('#planList');
            }
        })
    }
    
    $().ready (function () {
        
        $("#newFundingPlan").on('click', function () { openAddPlanDialog (); });

        loadPlans ();
    });
    
    
    function getCategories (responseHandler)
    {
        $.getJSON({
            url: "/categories"
        })
        .done (responseHandler);
    }

    function createCategoryFundingList (response) {

        $('.cat-fund-items').empty ();
        
        let sum = 0;
        
        for (let cats of response.categories) {
            
            if (cats.id !== -1) {
                let row = $('<div></div>').addClass('cat-fund-item');
                
                $('<div></div>').text(cats.groupName).appendTo(row);
                $('<div></div>').text(cats.categoryName).appendTo(row);
                
                let amount = 0;
                if (cats.amount !== undefined && cats.amount !== null) {
                    amount = parseFloat(cats.amount);
                }
                
                let amountElement = $('<input></input>')
                    .attr('type', 'text')
                    .addClass('dollar-amount')
                    .attr('value', amount.toFixed(2))
                    .attr('data-init-value', amount)
                    .attr('data-last-amount', amount)
                    .attr('data-cat-id', cats.categoryId)
                    .attr('data-id', cats.id)
                    .on('change', function () {
                        let newAmount = parseFloat(amountElement.val());

                        if (isNaN(newAmount)) {
                            newAmount = 0;
                        }
                            
                        amountElement.val(newAmount.toFixed(2));
                        
                        let previousAmount = parseFloat(amountElement.attr('data-last-amount'));
                        
                        if (isNaN(previousAmount)) {
                            previousAmount = 0;
                        }
                            
                        let newFundAmount = parseFloat($('.funding-total').text()) - previousAmount + newAmount;
                        $('.funding-total').text(newFundAmount.toFixed(2));
                        amountElement.attr('data-last-amount', newAmount.toFixed(2))
                    })
                    .appendTo(row);
                
                row.appendTo('.cat-fund-items');
                
                sum += amount;
            }
        }
        
        $(".funding-total").text(sum.toFixed(2));
    }
    </script>
</body>

