@layout('layouts/app')

@section('header')
	@super
    <link rel="stylesheet" href="main.css" />
  @!component('globalsitetag')
@endsection

@section('content')
    <div id="hidden">
    </div>
    <div class="app" data-props="{{ JSON.stringify(props) }}" />
    <script src="app.js"></script>
@endsection
