@layout('layouts/app')

@section('title')
	@super
    @!component('seo')
@endsection

@section('header')
	@super
    <link rel="stylesheet" href="welcome.css">
  @!component('globalsitetag')
@endsection

@section('content')
    <div class="app" />
    <script src="/welcome.js"></script>
@endsection
