@layout.app()
    @slot('title')
        @super
        @!component('seo')
    @@endslot

    @slot('header')
        <link rel="stylesheet" href="welcome.css">
        @!component('globalsitetag')
    @endslot

    @slot('content')
        <div class="app" />
        <script src="/welcome.js"></script>
    @endslot
@end