@layout('layouts/app')

@section('header')
	@super
    <link rel="stylesheet" href="css/welcome.css">
@endsection

@section('content')
    <div class="app" />
    <script src="/welcome.js"></script>
@endsection
