.layout {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: minmax(0,15rem) minmax(0,4rem) minmax(0,4rem) minmax(0,5rem);

  color: white;
  background-color: black;
}

.name {
  cursor: pointer;
}