# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env.test

# The development sqlite file
database/*.sqlite

# VSCode & Webstorm history directories
.history
.idea

*.js.map
blog/
build/
client-build/
/test.log
build.zip
.DS_Store

.npmrc
/.npmrc
home-css.edge
home-script.edge

dist/

runtime.js
install.sh
