$border-raidus: 8px;

.inner {
  --selector-inner-color: #f7f7f780;
}

.slider {
  --selector-slider-color: #b8b8b8;
}

.outer {
  --selector-border-color: #aaa;
}

@media (prefers-color-scheme: dark) {
  .inner {
    --selector-inner-color: #4448;
  }

  .slider {
    --selector-slider-color: #666;
  }

  .outer {
    --selector-border-color: #000;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.outer {
  position: relative;
  z-index: 0;
  cursor: pointer;
  border: thin var(--selector-border-color) solid;
  border-radius: $border-raidus;
  overflow: hidden;
}

.inner {
  display: flex;
  font-size: small;
  column-gap: 1rem;
  background-color: var(--selector-inner-color);
  z-index: 2;
  position: relative;
}

.label {
  padding: 0.5rem 1rem;
}

.slider {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: var(--selector-slider-color);
  z-index: 1;
  border-radius: $border-raidus;
  left: 0;
  transition: left 0.25s;

  &:global(.on) {
    left: 50%;
  }
}