.transactions {
  height: 100%;
  overflow-y: scroll;
}

.transaction-wrapper {
  display: grid;
  grid-template-rows: max-content minmax(0, 0%);
  grid-template-columns: minmax(0, 1fr);
  transition: grid-template-rows 0.5s ease-in;
}

.transaction {
  $icon-width: 16px;
  $date-width: 100px;
  $amount-width: 7rem;
  $balance-width: 8rem;

  display: grid;
  grid-template-columns: $icon-width $date-width minmax(0,1fr) $amount-width $amount-width $balance-width minmax(0, 1fr) minmax(0, 1fr) max-content;
  grid-template-rows: max-content;
  align-items: center;
  transition: background-color 0.25s ease-out;
  position: relative;
  z-index: 2;
  padding-left: 0.5rem;
  cursor: pointer;

  grid-template-areas: ". date name . amount running-balance institution account .";

  &.unassigned {
    grid-template-columns: $icon-width $date-width minmax(0,1fr) $amount-width $balance-width minmax(0, 0.5fr) minmax(0, 0.5fr) max-content;
    grid-template-areas: ". date name amount running-balance institution account .";
  }
  
  &.acct {
    grid-template-columns: $icon-width $date-width minmax(0,1fr) $amount-width $balance-width max-content minmax(0, 1fr);
    grid-template-areas: ". date name amount running-balance owner .";

    &.pending {
      grid-template-columns: $icon-width $date-width minmax(0, 1fr) $amount-width minmax(0, 1fr) max-content;
      grid-template-areas: ". date name amount owner .";
    }
  }
  
  &.loan {
    grid-template-columns: $icon-width $date-width minmax(0,1fr) repeat(3, $amount-width) $balance-width max-content minmax(0, 2fr) max-content;
  }
  
  &.pending {
    grid-template-columns: $icon-width $date-width minmax(0, 1.8fr) $amount-width minmax(0,0.8fr) minmax(0, 0.8fr);
    grid-template-areas: ". date name amount institution account .";
  }
  
  &.rebalances {
    grid-template-columns: $icon-width $date-width $amount-width minmax(0, 1fr) max-content;
  }

  /* For left-padding of each element in transaction */
  >* {
    padding-left: 5px;
    min-width: 1.25rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .name {
    grid-area: name;
  }
  
  .amount {
    grid-area: amount;
  }
  
  .date {
    grid-area: date;
  }
  
  .account {
    grid-area: account;
  }
  
  .institution {
    grid-area: institution;
  }
  
  .owner {
    grid-area: owner;
    text-transform: capitalize;
  }
  
  .running-balance {
    grid-area: running-balance;
  }  
}

@media (max-width: 800px) {
  .transaction-wrapper {
    grid-row-gap: 1rem;
  }

  .transaction, .transaction.unassigned {
    $icon-width: 0;
    $amount-width: 6rem;
    $date-width: 3.5rem;

    grid-template-columns: $icon-width $date-width minmax(0, 1fr) $amount-width;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
      ". name name amount"
      ". date account running-balance"
      ". owner owner owner";
    padding-left: 0.25rem;

    &.pending {
      grid-template-columns: $icon-width $date-width minmax(0, 1fr) $amount-width;
      grid-template-rows: max-content max-content max-content;
      grid-template-areas:
        ". name name amount"
        ". date account account"
        ". owner owner owner";
    }

    &.acct {
      grid-template-columns: $icon-width $date-width minmax(0, 1fr) $amount-width;
      grid-template-rows: max-content max-content;
      grid-template-areas:
        ". name name amount"
        ". date owner running-balance";

      &.pending {
        grid-template-columns: $icon-width $date-width minmax(0, 1fr) $amount-width;
        grid-template-rows: max-content max-content;
        grid-template-areas:
          ". name name amount"
          ". date owner .";
      }  
    }

    .date {
      font-size: x-small;
    }
    
    .account {
      font-size: x-small;
    }
    
    .institution {
      font-size: x-small;
    }
    
    .owner {
      font-size: x-small;
    }
    
    .running-balance {
      font-size: x-small;
    }  
  }
}

.register-title {
  color: white;
  background-color: gray;

  div {
    height: 100%;
  }  

  >:not(:first-child, :last-child) {
    border-left: solid 1px black;
    padding-left: 4px;
  }  
}

.title-stub {
  overflow-y: scroll;
  visibility: hidden;
  padding: 0;
  min-width: 0;
}