.transaction {
  display: grid;
  grid-template-columns: 32px 100px 1fr 125px 125px 125px minmax(0, 1fr) minmax(0, 1fr) max-content;
  grid-template-rows: max-content;
  align-items: center;
  transition: background-color 0.25s ease-out;
  position: relative;
  z-index: 2;
}

.acct-transaction {
  display: grid;
  grid-template-columns: 32px 100px 1fr 125px 125px minmax(0, 2fr) max-content;
  grid-template-rows: max-content;
  align-items: center;
}

.pending-transaction {
  display: grid;
  grid-template-columns: 32px 100px minmax(0, 1.8fr) 125px 125px minmax(0, 3fr) max-content;
  grid-template-rows: max-content;
  align-items: center;
}

.acct-pending-transaction {
  display: grid;
  grid-template-columns: 32px 100px minmax(0, 1.8fr) 125px minmax(0, 3fr) max-content;
  grid-template-rows: max-content;
  align-items: center;
}

.pending-transaction>div,
.acct-pending-transaction>div,
.acct-transaction>div,
.transaction>div {
  padding-left: 4px;
}

:global(.mobile).acct-pending-transaction,
:global(.mobile).pending-transaction,
:global(.mobile).acct-transaction,
:global(.mobile).transaction {
  grid-template-columns: minmax(0, 0.8fr) minmax(0, 1.75fr) minmax(0, 0.9fr);
  grid-template-rows: max-content max-content;
  grid-template-areas: ". . ." "account account account"
}

.transaction-wrapper {
  display: grid;
  grid-template-rows: max-content minmax(0, 0%);
  grid-template-columns: minmax(0, 1fr);
  transition: grid-template-rows 0.5s ease-in;
}

