.name {
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column-gap: 1rem;
}

.recurrence {
  text-align: right;
}

.date {
  padding-bottom: 0;
}
