.cat-list-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.suspended {
    text-decoration: line-through;
  }

  &.hidden {
    color: gray;
  }
}

.cat-list-amt {
  min-width: 4.25rem;
}

.cat-element-bar {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-items: center;
  overflow: hidden;

  &.system {
    grid-template-columns: max-content minmax(0, 1fr);
  }  
}
