.account {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-items: center;
  background-color: #dfd;
}

.account:hover {
  cursor: pointer;
}

.account.selected {
  border: 4px #ff7f29 solid;
  padding: 0;
}

.account:not(.selected):hover {
  border: 4px #f5c4a4 solid;
  padding: 0;
}

.account.selected:not(:hover):last-child,
.account:not(.selected):hover:last-child {
  border-radius: 0 0 8px 8px;
}

.account:not(.selected):hover:last-child {
  border-radius: 0 0 8px 8px;
}

*>.account {
  padding: 4px;
}

/* *>.account:not(:first-child) {
  border-top: solid thin black;
  padding-top: 0.25rem;
} */

.account>*:nth-child(1) {
  align-self: start;
}

.account>*:nth-child(2) {
  overflow: hidden;
}

.credit-account {
  background-color: #ffd6d6;
}

.other-account {
  background-color: white;
}

.account-info *:not(:first-child) {
  margin-left: 4px;
  font-size: small;
}

.account-name {
  margin-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: column;
}
