.layout {
	display: flex;
	align-items: center;
}

.title {
	font-weight: bold;
	margin-bottom: 1rem;
	border-bottom: thin black solid;
	align-items: end;
}

.status-item {
  display: grid;
  grid-template-columns: 1.5fr repeat(5, minmax(0, 1fr));
}

.logo {
	margin-right: 1rem;
}

.name {
	font-size: x-large;
}

.incident {
	margin-top: 0.5rem;
	border: thin gray solid;
	padding: 0.35rem;

	.update {
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		border-top: thin gray solid;
	}
}

.modal-wrapper {
	display: grid;
	height: 100%;
	grid-template-rows: max-content minmax(0,1fr) max-content;
}