.report-list-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (hover: hover) {
  .report-list-item:not(:global(.selected)):hover {
    cursor: pointer;
    background-color: var(--hover-background);
    color: var(--hover-color);
  }
}
