/*

Base

*/

body {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
}

.app {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content minmax(0, 1fr);
	height: 100%;
}

.main {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: minmax(0, 1fr);
	grid-template-areas:
		"sidebar register";
	height: 100%;
}

.navbar {
	background-color:#228B22;
}

.drop-down {
	position: absolute;
	background-color: white;
	border: black thin solid;
	border-radius: 4px;
	overflow-y: auto;
	z-index:4000;
}

.side-bar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
	height: 100%;
	grid-area: sidebar;
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.3);
	z-index: 1000;
}

.tools {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#addGroupDialog .modal-footer {
	display: grid;
	grid-template-columns: max-content 1fr repeat(2, max-content);
}

#addGroupDialog .modal-footer {
	display: grid;
	grid-template-columns: max-content 1fr repeat(2, max-content);
}

#addCategoryDialog .modal-footer {
	display: grid;
	grid-template-columns: max-content 1fr repeat(2, max-content);
}

.categories {
	display: flex;
	flex-flow:column;
	height: 100%;
	user-select: none;
}

#categories {
	padding-right: 14px;
	overflow-y: auto;
}

.accounts {
	display: grid;
	height: 100%;
	grid-template-rows: max-content 1fr;
	user-select: none;
}

#accounts {
	display:flex;
	flex-flow:column;
	overflow-y: auto;
}

.account-select-item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"acct-name acct-name track-selection"
		"acct-type acct-balance track-selection";
	border: solid thin gray;
	border-radius: 4px;
	margin-bottom: 8px;
	box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
	background-color: whitesmoke;
}

.account-select-item .account-name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	grid-area: acct-name;
	padding-left: 4px;
	padding-top: 4px;
}

.account-select-item .account-type {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-area: acct-type;
	font-size: 14px;
	padding-left: 4px;
}

.account-select-item .account-type > label {
	margin-right: 8px;
}

.account-select-item .account-balance {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-area: acct-balance;
	justify-content: space-between;
	font-size: 14px;
}

.account-select-item .track-selection {
	grid-area: track-selection;
	background-color: white;
	border-left: solid thin gray;
	border-radius: 0px 4px 4px 0px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	padding: 4px;
}

.account-select-item .track-selection label {
	margin: 0;
}

.account-bar {
	display:grid;
	grid-template-columns: max-content max-content;
	background-color: gray;
	color: white;
}

.add-group {
	margin-left: 14px;
	color: rgba(255,255,255,0.7);
}

.add-group:hover {
	color: white;
	cursor: pointer;
}

.add-acct {
	margin-left: 14px;
	color: rgba(255,255,255,0.7);
}

.add-acct:hover {
	color: white;
}

.acct-list-inst {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	margin-top: 7px;
}

.acct-list-item {
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
}

.acct-list-acct {
	margin-left: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.acct-list-acct:not(.selected):hover {
	cursor: pointer;
	background-color: whitesmoke;
}

.acct-list-acct.selected {
	background-color: lightblue;
}

.register {
	display: grid;
	grid-template-rows: max-content 1fr;
	height: 100%;
	grid-area: register;
	user-select: none;
	overflow-y: auto;
}

.register-title {
	color: white;
	background-color: gray;
	overflow-y: scroll;
}

.register-title div:not(:first-child) {
	border-left: solid thin black
}

.transactions {
	height: 100%;
	overflow-y: scroll;
}

.transaction {
	display: grid;
	grid-template-columns: 32px 100px minmax(0, 1.8fr) 1fr  125px 125px minmax(0, 1fr) minmax(0, 1fr);
	grid-template-rows: max-content;
	align-items: center;
}

.transaction div {
	padding-left: 4px;
}

.transactions div.transaction:not(.transaction-selected):nth-child(odd) {
	background-color: whitesmoke;
} 

.transactions div.transaction-selected {
	background-color: lightblue;
}

.trans-cat-edit {
	display: grid;
	grid-template-columns: minmax(0, 1fr) max-content;
}

.transaction-field {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.currency {
	text-align: right;
	margin-right: 14px;
}

.negative {
	color: red;
}

.group-element-bar {
	display: grid;
	grid-template-columns: max-content max-content max-content;
	align-items: center;
}

.cat-element-bar {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	align-items: center;
	overflow: hidden;
}

.cat-list-cat {
	display: grid;
	grid-template-columns: minmax(0, 1fr) max-content;
	justify-content: space-between;
	margin-left: 28px;
}

.cat-list-cat:not(.selected):hover {
	cursor: pointer;
	background-color: whitesmoke;
}

.cat-list-cat.selected {
	background-color: lightblue;
}

.fund-list-item {
	display: grid;
	grid-template-columns: minmax(0, 1fr) repeat(3, minmax(0, 0.6fr));
	align-items: center;
}

.cat-list-group div.fund-list-item:nth-child(odd) {
	background-color: whitesmoke;
} 

.fund-list-amt {
	justify-self: right;
	padding-right: 8px;
}

.fund-list-cat-name {
	margin-left: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.group-button {
/*	margin: .125rem .25rem;*/
	padding: .25rem .25rem;
	display: grid;
	align-items: center;
}

.group-button i {
	color: rgba(0,0,0,0.4);
	font-size: smaller;
}

.group-button:hover i {
	color: black;
}

.group-button:hover {
	background-color: lightgray;
}

.group-button.i {
	font-size:smaller;
	color: inherit;
}

.unassigned-cat {
	font-style: oblique;
	color: rgb(156, 156, 156);
}

#categoryDropDownList {
	height: 250px;
	width: max-content;
	background-color: white;
	position: absolute;
	overflow-y: scroll;
	border: black solid thin;
	box-shadow:0 2px 7px 1px rgba(0,0,0,0.3);
	z-index: 2000;
	user-select: none;
}

.category-list-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.category {
	padding: 1px
}

.category-input {
	border: solid gray thin;
	border-radius: 4px;
	margin: 1px;
	padding:1px;
	padding-left: 4px;
}

.category-input::placeholder {
	font-style: oblique;
	color: red;
}

.category-select-item:not(.selected):hover {
	background-color: whitesmoke;
}

.category-select-item.selected {
	background-color: lightblue;
}

.cat-fund-title {
	background-color: gray;
	color: white;
	overflow-y: scroll;
}

.cat-fund-table {
	display: flex;
	flex-direction: column;
}

.cat-fund-items {
	height: 100%;
	overflow-y: scroll;
}

.cat-fund-item {
	display: grid;
	grid-template-columns: 2fr 2fr minmax(0, 1fr);
}

.fund-cats-wrapper {
	position: relative;
	overflow: hidden;
}

#addFundingForm {
	height: 100%;
	display: grid;
	grid-template-rows: max-content minmax(0, 1fr);
}

#addFundingDialog .modal-body {
	overflow-y: hidden;
}

.dollar-amount {
	text-align: right;
}

.funding-header {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.splits-total {
	display: inline-block;
	width: 100%;
	border: solid thin gray;
	padding-right: 2px;
	justify-self: right;
}

.funding-total {
	display: inline-block;
	width: 150px;
	border: solid thin gray;
	padding-right: 8px;
}

.plan-item {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
}

.transaction-split-items {
	display: grid;
	grid-template-rows: max-content;
}

.transaction-split-item {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr)) repeat(2, 28px);
	align-items: center;
}

.transaction-split-item > input {
	border: solid 1px gray;
	border-radius: 4px;
	margin: 1px;
	padding: 1px;
}

.amount-input {
	border: solid 1px gray;
	border-radius: 4px;
	margin: 1px;
	padding: 1px;
}

.transaction-split-item > label {
	text-align: right;
	margin-bottom: 0;
	padding-right: 2px;
}

.rotate {
	animation: rotation 2s infinite linear;
}

.split-button {
	border: gray solid 1px;
	border-radius: 4px;
	background-color: white;
	margin: 1px;
	padding: 1px;
}

.add-split-button {
	justify-self: center;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(359deg);
	}
}

/*

Content at the top of the view

*/

.everpresent-content {
  border-bottom-width: 1px;
  border-bottom-color: #E3E9EF;
  border-bottom-style: solid;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.everpresent-content__heading {
  margin-bottom: 16px;
}

.everpresent-content__subheading {
  font-size: 24px;
  font-weight: 300;
  color: #527084;
  line-height: 32px;
  margin-bottom: 0;
}

/*

Item overview

*/

.item-overview {
  padding-bottom: 16px;
}

.item-overview__column {
  width: 50%;
  float: left;
}

.item-overview__column:nth-child(1) {
  padding-right: 8px;
}

.item-overview__column:nth-child(2) {
  padding-left: 8px;
}

.item-overview__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

.item-overview__id {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/*

One off tweaks to the layout for tables

*/

.response-row {
}

.response-row--is-identity td {
  width: 25%;
  overflow-wrap: break-word;
  vertical-align: top;
}

/*

Display content inside of box

*/

.box {
  border-radius: 4px;
  border-width: 1px;
  border-color: #E3E9EF;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(3,49,86,0.2);
}

.box__heading {
  padding: 16px 24px;
  border-bottom-width: 1px;
  border-bottom-color: #E3E9EF;
  border-bottom-style: solid;
  background-color: #FAFCFD;
  margin-bottom: 0;
}


/*

Item row

*/
.item-data-row {
  border-bottom-width: 1px;
  border-bottom-color: #E3E9EF;
  border-bottom-style: solid;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.item-data-row:after {
  clear: both;
  content: '';
  display: table;
}

.item-data-row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.item-data-row__request-type {
  background-color
  font-size: 12px;
  color: #02B1F8;
  letter-spacing: 0;
  background: #D9F3FE;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
}

.item-data-row__endpoint {
  font-family: "monaco", courier;
  font-size: 14px;
  line-height: 32px;
  display: inline-block;
}

.item-data-row__nicename {
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
  color: #033156;
}


.item-data-row__left {
  width: 13%;
  float: left;
}

.item-data-row__center {
  width: 62%;
  float: left;
  padding-left: 16px;
}

.item-data-row__right {
  width: 25%;
  float: left;
}

/*

Hide things

*/

#app {
  display: none;
}

#steps {
  display: none;
}

/*

Errors

*/

.alert {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger a {
  color: #a94442;
  font-weight: bold;
}
