.response-wrapper {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.response {
  width: 100%;
  height: max-content;
  background-color: black;
  color: white;
  white-space: pre-wrap;
}
