@use "../breakpoints";

.layout {
  display: grid;
  grid-template-columns: 10.5rem max-content;
  column-gap: 0.5rem;

  @media (max-width: breakpoints.$side-by-side) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content;
    column-gap: unset;
  }
}

.layout2 {
  display: grid;
  grid-template-columns: 4.5rem 15rem 5rem max-content;
  column-gap: 0.5rem;
}

.message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
