.layout {
  display: grid;
  grid-template-rows: minmax(0,1fr) max-content;
  height: 100%;
}

.brackets {
  display: grid;
  grid-template-columns: max-content minmax(0,1fr) max-content;
  column-gap: 0.35rem;
  justify-items: end;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.summary-record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
}

.details {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: max-content minmax(0,1fr);
}

.tabs {
  display: grid;
  grid-template-rows: max-content minmax(0,1fr);

  >div:nth-child(2) {
    height: 100%;
    overflow-y: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  >* {
    width: max-content;
    display: flex;
    column-gap: 0.5rem;
  }
}

.income {
  display: grid;
  grid-template-columns: max-content 8rem 8rem max-content 8rem 8rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.capital-gains,
.tax-and-credits {
  display: grid;
  grid-template-columns: max-content 8rem 8rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.worksheet2_1 {
  display: grid;
  grid-template-columns: max-content 8rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.worksheet2_9 {
  display: grid;
  grid-template-columns: max-content repeat(4, 8rem);
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: max-content minmax(0,1fr);
  grid-template-rows: minmax(0,1fr);

  >div {
    padding-left: 1rem;
  }
}

.computations {
  width: 225px;
  height: 100%;
  padding-right: 1rem;
  border-right: thin white solid;
}

.block {
  width: max-content;
}