@use "../breakpoints";

.layout {
  display: grid;
  grid-template-rows: max-content minmax(0,1fr);
  grid-template-columns: max-content;
  height: 100%;
}

@media (max-width: breakpoints.$side-by-side) {
  .layout {
    grid-template-rows: max-content max-content minmax(0,1fr);
  }
}