<p>
  <p>
  You are receiving this email because the institution "{{ institution }}" needs you to relink
  the institution.
  </p>
  <p>
  Balancing Life will not be able to download transactions until you successfully relink
  the institution through the Balancing Life website.
  </p>
  <p>
  Regards,</br>
  Balancing Life
  </p>
</p>
