<p>
  <p>
  You are receiving this email because the institution "{{ institution }}" needs you to login
  through Balancing Life.
  </p>
  <p>
  Balancing Life will not be able to download transactions until you successfully log in
  to your institution through Balancing Life.
  </p>
  <p>
  Regards,</br>
  Balancing Life
  </p>
</p>
