<p>
  <p>
  You are receiving this email because the institution "{{ institution }}" needs you to relink
  the institution.
  </p>
  <p>
  SpendCraft will not be able to download transactions until you successfully relink
  the institution through the SpendCraft website.
  </p>
  <p>
  Regards,</br>
  SpendCraft
  </p>
</p>
