<p>
<p>
    Please enter the code to verify your email address.
</p>

<p>
    <div>{{ code }}</div>
</p>

<p>
    The code will expire in {{ expires }} minutes.
</p>

<p>
    If you did not create an account, no further action is required.
</p>
</p>
