Please click the "Verify Email" link to verify your email address.

<p>
    <a href="{{verificationLink}}">Verify Email</a>
</p>

Or you can click or paste the following URL into your browser.
<p>
{{ verificationLink }}
</p>

The link will expire in {{ expires }} minutes.

If you did not create an account, no further action is required.
